@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* shared styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.poppins {
  font-family: "Poppins", serif;
}
.inter {
  font-family: "Inter", serif;
}
.flex {
  display: flex;
  align-items: center;
}
:root {
  --dark-1: #000000;
  --dark-2: #3a3a3a;
  --dark-3: #787885;
  --btn-bg: #e02c6d;
}
.btn-primary {
  background: var(--btn-bg);
  color: white;
  font-weight: 700;
  padding: 10px 24px;
  border: none;
}

/* navbar styles */
.header {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  justify-content: space-between;
  margin-top: 87px;
  margin-bottom: 50px;
}
.nav-menu {
  display: none;
  font-size: 24px;
  color: var(--dark-2);
}
.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-2);
}
.nav-links {
  align-items: center;
}
.nav-links .nav-item {
  list-style: none;
}
.nav-item .nav-link {
  text-decoration: none;
  margin-right: 34px;
  color: var(--dark-2);
  font-weight: 600;
}
#search {
  font-size: 24px;
  font-weight: 100;
  color: var(--dark-1);
}
#cart {
  font-size: 36px;
  color: var(--dark-1);
}

/* hero section style */
.hero-section {
  justify-content: space-between;
}
.hero-content {
  max-width: 582px;
}
.hero-title {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--dark-2);
  margin-bottom: 16px;
}
.hero-description {
  font-weight: 600;
  color: var(--dark-2);
  margin-bottom: 16px;
}
.hero-btn {
  border-radius: 40px;
}
.hero-btn i {
  margin-left: 8px;
}
.hero-img {
  width: 475px;
  height: 475px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

/* companies container style */
.companies-container{
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

/* responsive for small devices */
@media screen and (max-width: 576px) {
  .header {
    width: 100%;
  }
  /* I use display none property to nav-items for responsiveness. this will hide those content that I don't need in small devices*/
  .none {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .navbar {
    margin: 35px 16px 0;
  }
  #cart {
    font-size: 24px;
  }
  .nav-logo {
    font-size: 1rem;
  }
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-img {
    width: 257px;
    height: 257px;
    
    margin-top: 22px;
    margin-bottom: 14px;
  }
  .hero-img img {
    width: 200px;
    height: 190px;
  }
  .hero-title{
    font-size: 1.75rem;
  }
  .hero-description{
    font-size: 14px;
    font-weight: 500;
  }
  /* companies */
  .companies-container{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
}
.companies-container img{
    height: 15px;
}
}


/* responsive for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .header {
        width: 100%;
      }
      /* I use display none property to nav-items for responsiveness. this will hide those content that I don't need in small devices*/
      .none {
        display: none;
      }
      .nav-menu {
        display: block;
      }
      .navbar {
        margin: 35px 16px 0;
      }
      #cart {
        font-size: 28px;
      }
      .nav-logo {
        font-size: 1.25rem;
      }
      .hero-section {
        flex-direction: column-reverse;
        text-align: center;
      }
      .hero-img {
        width: 350px;
        height: 350px;
        margin-top: 44px;
        margin-bottom: 28px;
      }
      .hero-img img {
        width: 300px;
        height: 290px;
      }
      .hero-title{
        font-size: 2.5rem;
      }
      .hero-description{
        font-size: 16px;
        font-weight: 600;
      }
      .companies-container{
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        gap: 20px;
    }
    .companies-container img{
        height: 20px;
    }
}