@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* shared styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.poppins {
  font-family: "Poppins", serif;
}
.inter {
  font-family: "Inter", serif;
}
.flex {
  display: flex;
  align-items: center;
}
:root {
  --dark-1: #000000;
  --dark-2: #3a3a3a;
  --dark-3: #787885;
  --btn-bg: #e02c6d;
}
.btn-primary {
  background: var(--btn-bg);
  color: white;
  font-weight: 700;
  padding: 10px 24px;
  border: none;
  cursor: pointer;
}

/* navbar styles */
.header {
  max-width: 1200px;
  margin: 0 auto;
}
.navbar {
  justify-content: space-between;
  margin-top: 87px;
  margin-bottom: 50px;
}
.nav-menu {
  display: none;
  font-size: 24px;
  color: var(--dark-2);
}
.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dark-2);
}
.nav-links {
  align-items: center;
}
.nav-links .nav-item {
  list-style: none;
}
.nav-item .nav-link {
  text-decoration: none;
  margin-right: 34px;
  color: var(--dark-2);
  font-weight: 600;
}
#search {
  font-size: 24px;
  font-weight: 100;
  color: var(--dark-1);
}
#cart {
  font-size: 36px;
  color: var(--dark-1);
}

/* hero section style */
.hero-section {
  justify-content: space-between;
}
.hero-content {
  max-width: 582px;
}
.hero-title {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--dark-2);
  margin-bottom: 16px;
}
.hero-description {
  font-weight: 600;
  color: var(--dark-2);
  margin-bottom: 16px;
}
.hero-btn {
  border-radius: 40px;
}
.hero-btn i {
  margin-left: 8px;
}
.hero-img {
  width: 475px;
  height: 475px;
  background-image: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

/* companies container style */
.companies-container{
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

/* card section styles */
.card-section{
    max-width: 1050px;
    margin: 0 auto;
}
.card-section-title{
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark-2);
    margin-bottom: 30px;
}
.card-section-title, .product-name{
    font-family: "Poppins", serif;
}
/* only card style */
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 30px;
}
.card{
    width: 330px;
    padding: 15px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.product-name{
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 16px;
    color: var(--dark-1);
    margin-bottom: 6px;
}
.product-price,.rating-number,.product-details{
    font-family: "Inter",serif;
}
.product-price{
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.rating-star > i{
    font-size: 12px;
    color: orange;
}
.rating-number{
    font-size: 14px;
    margin-left: 8px;
    font-weight: 700;
    color: var(--dark-3);
}
.product-details{
    width: 195px;
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-3);
    margin-top: 10px;
    line-height: 24px;
}
.container-btn{
    text-align: right;
    margin-top: 50px;
    margin-bottom: 100px;
}
.see-more-btn{
    color: var(--btn-bg);
    font-weight: 700;
    font-family: "Poppins";
    text-decoration: none;
}
.see-more-btn i{
    margin-left: 5px;
}

/* feature section styles */
.feature-section{
    max-width: 1110px;
    margin: 0 auto 100px;
    gap: 95px;
    font-family: "Poppins", serif;
}
.feature-title{
    font-size: 2.3rem;
    margin-bottom: 16px;
    font-weight: 700;
    color: var(--dark-1);
}
.feature-description{
    width: 500px;
    font-weight: 700;
    line-height: 28px;
    color: var(--dark-3);
    margin-bottom: 16px;
}
.feature-content > button > i{
    margin-left: 8px;
}

/* footer styles */
.footer-section{
    background: var(--dark-1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-family: "Poppins";
}
.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
}
.copy-right{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    margin: 5px 0;
    color: var(--dark-3);
}
.footer-icon i{
    margin-right: 16px;
    cursor: pointer;
    background: rgba(255,255,255,0.15);
    padding: 10px;
    border-radius: 50%;
}
/* responsive for small devices */
@media screen and (max-width: 576px) {
  .header {
    width: 100%;
  }
  /* I use display none property to nav-items for responsiveness. this will hide those content that I don't need in small devices*/
  .none {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .navbar {
    margin: 35px 16px 0;
  }
  #cart {
    font-size: 24px;
  }
  .nav-logo {
    font-size: 1rem;
  }
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-img {
    width: 257px;
    height: 257px;
    
    margin-top: 22px;
    margin-bottom: 14px;
  }
  .hero-img img {
    width: 200px;
    height: 190px;
  }
  .hero-title{
    font-size: 1.75rem;
  }
  .hero-description{
    font-size: 14px;
    font-weight: 500;
  }
  /* companies */
  .companies-container{
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
}
.companies-container img{
    height: 15px;
}
/* card */
.card-section-title{
    font-size: 1.5rem;
}
.card-container{
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
.container-btn{
    margin-right: 20px;
    margin-bottom: 50px;
}
.feature-section{
    flex-direction: column-reverse;
    gap: 20px;
}
.feature-title{
    width: 311px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 auto;
}
.feature-description{
    width: 330px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
}
.feature-btn{
    text-align: center;
    margin-bottom: 20px;
}
 
}


/* responsive for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .header {
        width: 100%;
      }
      /* I use display none property to nav-items for responsiveness. this will hide those content that I don't need in small devices*/
      .none {
        display: none;
      }
      .nav-menu {
        display: block;
      }
      .navbar {
        margin: 35px 16px 0;
      }
      #cart {
        font-size: 28px;
      }
      .nav-logo {
        font-size: 1.25rem;
      }
      .hero-section {
        flex-direction: column-reverse;
        text-align: center;
      }
      .hero-img {
        width: 350px;
        height: 350px;
        margin-top: 44px;
        margin-bottom: 28px;
      }
      .hero-img img {
        width: 300px;
        height: 290px;
      }
      .hero-title{
        font-size: 2.5rem;
      }
      .hero-description{
        font-size: 16px;
        font-weight: 600;
      }
      .companies-container{
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        gap: 20px;
    }
    .companies-container img{
        height: 20px;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
    }
    .container-btn{
        margin-right: 30px;
        margin-bottom: 50px;
    }
    .feature-section{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .feature-img{
        width: 80%;
    }
    .feature-img img{
        width: 100%;
    }
    .feature-title{
        text-align: center;
        font-size: 1.5rem;
    }
    .feature-description{
        text-align: center;
        margin-bottom: 16px;
    }
    .feature-btn{
        text-align: center;
        margin-bottom: 20px;
    }
}